.infoItem {
    width: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px;
}

.itemText {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    word-break: break-all;
}




.infoItem svg {
    font-size: xx-large;
    height: 60px;
    width: 60px;
}

.infoItem p {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
}

.infoItem b {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24px;
}