.registrationForm {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
    align-items: center;
    padding: 35px;
}

.registrationForm .formTitle{
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    display: flex;
    align-items: center;
}

.formTitle svg {
    width: 50px;
    height: 50px;
    color: var(--secondary);
    font-size: xx-large;
}

.registrationForm .logInButton{
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    width: 200px;
    height: 50px;
}

.registrationForm .logInButton:hover {
    color: var(--primary);
    background: none;
    border: 1px solid var(--primary);
}

.signInElement {
    color: var(--primary);
    cursor: pointer;
}

.closeIcon{
    position: absolute;
    top:10px;
    right: 10px;
    cursor: pointer;
}

.talentName{
    display: flex;
    gap: 20px;
}

.registrationForm label {
    color: gray;
    font-weight: 200;
}

.registrationForm span {
   margin-left: 10px;
}

.skilsError{
    align-self: flex-start;
    font-size: 15px;
    font-weight: 200;
    color: rgb(187, 52, 52);
}