.footer{
    font-family: 'Rubik', sans-serif;
    color: #fff;
    background: #292A2D;
    display: flex;
    flex-direction: column;
    height: 260px;
    width: 100%;
}

.footer__header{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.bigflex{
    padding: 0 100px;
    gap:30px;
    display: flex;
    justify-content: space-between; 
}

.smallflex
{   
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.smallflex__item
{
    margin-bottom: 20px;
    color:#fff;
    text-decoration: none;
}

.smallflex__item:hover {
    text-decoration: underline !important;
    cursor: pointer;
}

 